/* **************************************************************************************
 *          BEGIN SECTION DEFINITIONS
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
 *          GENERAL MENU BARS
 * - - - - - - - - - - - - - - - - - - - - - - - - - -*/

    div.menuBar {
        float: none;
        clear: both;
        padding: 0;
        height: 25px;
        border: solid 0px red;
    }

    div.menuBar .help {
        float: right;
    }
    div.menuBar div.help a {
        background: transparent url("../web/images/icons/help.png") no-repeat top right;
        padding: 0 20px 0 0;
    }

    div.menuBar div.help a:hover span {
        border-bottom: dotted 1px #476087;
    }

    div.menuBar div#tabMenu {
        margin-left: 15px;
        margin-top: 5px;
        float: left;
    }

    div.menuBar div#tabMenu div {
        color: #416fbf;
        float: left;
        margin: 0;
        padding: 0px 2px 0px 0px;
        cursor: pointer;
    }
    div.menuBar div#tabMenu span {
        margin: 0 15px;
        float: left;
        color: #35588f;
    }
    div.menuBar div#tabMenu span.info {
        float: right;
    }


/* - - - - - - - - - - - - - - - - - - - - - - - - - -
 *          ANALYSIS RESULTS SECTION
 * - - - - - - - - - - - - - - - - - - - - - - - - - -*/
    div.analysisResults {
        float: left;
        margin: 20px 0px 0px 0px;
        padding:5px 10px 5px 10px ;
        width: 250px;
        border: solid 1px #545454;
    }

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
 *          Literature Search Results
 * - - - - - - - - - - - - - - - - - - - - - - - - - -*/    
	span.highlightAlternateIDS { 
        font-family: Arial;
        font-weight: bold;
        font-size: 10pt;
        color: red;
}


    span.highlightKeywords { 
        font-family: Arial;
        font-weight: bold;
        font-size: 10pt;
        color: #FF8040;
}


/*
 *          END SECTION DEFINITIONS
 *****************************************************************************************/
