/* - - - - - - - - - - - - - - - - - - - - - - - - - -
 *          HEADER IMAGE & HEADER TEXT & LINK CONTAINER
 * - - - - - - - - - - - - - - - - - - - - - - - - - -*/
    #page_header {
        background: transparent url("../web/images/bg/header.jpg") no-repeat 5px 0;
        height: 75px;
    }

    #page_header #header_link_container {
        float: right;
        margin: 15px 20px 0 0;
	width: 550px;
        border: solid 0px #ccc;
    }

    #page_header #header_title {
        float: left;
        font-size: 26px;
        color: #fff;
        margin: 18px 0 0 20px;
        border: solid 0px #ccc;
    }

    #page_header #header_title a
    {
        color: #fff;
        text-decoration: none;
    }

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
 *          CRUMB TRAIL
 * - - - - - - - - - - - - - - - - - - - - - - - - - -*/
    #crumb_trail {
        padding: 3px 0 2px 20px;
        font-size: 12px;
        margin: 0 0 5px 0;
        height: 15px;
        float: none;
        clear: both;
        background-color: transparent;
    }
    #crumb_trail a {
        font-size: 12px;
    }
/* - - - - - - - - - - - - - - - - - - - - - - - - - -
 *          SMALL HEADER NAVIGATION LINKS
 * - - - - - - - - - - - - - - - - - - - - - - - - - -*/
    #page_header .header_nav,
    #page_header .header_messages {
        color: #99b4df;
        float: right;
        clear: right;
        border: solid 0px #ccc;
    }

    #page_header .header_nav a,
    #page_footer .footer_nav a,
    #page_footer p,
    #page_header .header_messages a,
    #page_header .header_messages div {
        font-family: Arial;
        font-size: 11px;
        font-weight: bold;
        margin: 0 5px;
        line-height: 18px;
        color: #99b4df;
        text-decoration: none;
    }
    #page_header .header_nav a:hover,
    #page_footer .footer_nav a:hover,
    #page_header .header_nav a.site_help_link:hover span,
    #page_header .header_messages a.message_link:hover span {
        color: #d1ddef;
        border-bottom: dotted 1px #476087;
    }

    #page_header .header_nav a.site_help_link {
        display: inline-block;
        padding-right: 20px;
        background: transparent url("../web/images/icons/help.png") no-repeat top right;
    }
    #page_header .header_nav a.site_help_link:hover  {
        border-bottom: 0px;
    }

    #page_header .header_messages a.message_link {
        display: inline-block;
        background: transparent url("../web/images/icons/message.png") no-repeat right 3px;
        padding: 0 25px 0 0;
        font-weight: normal;
    }

    #page_header .header_messages div {
        margin-top: 5px;
        margin-right: 0;
        border: solid 0px #ccc;
        float: left;
    }
/* - - - - - - - - - - - - - - - - - - - - - - - - - -
 *          FOOTERS
 * - - - - - - - - - - - - - - - - - - - - - - - - - -*/
    #page_footer p {
	font-size: 9px;
        float: left;
	text-align: left;
        margin: 20px 30px 0 0;
	padding: 0;
    }
    #page_footer {
	position: relative;
	height: 1px;
	text-align: right;
    }

    #page_footer #footer_link_container {
        float: right;
        margin: 20px 10px 0 0;
    }

    #page_footer .footer_nav {
        color: #467087;
        border: solid 0px #ccc;
    }

