body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
}
ol, ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
fieldset, img {
    border:0 none;
}
