<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
  <display-name>PhenoGen Application</display-name>
  <description>A web application for PhenoGen members</description>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

<welcome-file-list>
   <welcome-file>index.html</welcome-file>
   <welcome-file>index.jsp</welcome-file>
   <welcome-file>index.htm</welcome-file>
</welcome-file-list>

<!-- Added by Cheryl for PhenoGen website -->

    <servlet>
        <servlet-name>Chromosomes</servlet-name>
        <servlet-class>edu.ucdenver.ccp.PhenoGen.tools.location.Chromosomes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chromosomes</servlet-name>
        <url-pattern>/Chromosomes</url-pattern>
    </servlet-mapping>

    <servlet>
       <description>Servlet for AJAX calls in finding Users</description>
        <display-name>Lookup User</display-name>  


        <servlet-name>UserLookupServlet</servlet-name>
        <servlet-class>edu.ucdenver.ccp.PhenoGen.web.UserLookupServlet</servlet-class>
    </servlet>  
    
    
    <servlet-mapping>
       <servlet-name>UserLookupServlet</servlet-name>
       <url-pattern>/UserLookupServlet</url-pattern>
    </servlet-mapping>



<!-- Change the following four parameters when creating a new environment -->

<context-param>
	<param-name>applicationRoot</param-name>
	<param-value>/usr/share/tomcat/webapps
	</param-value>
</context-param>

<context-param>
	<param-name>contextRoot</param-name>
	<param-value>/PhenoGen
	</param-value>
</context-param>

<context-param>
	<param-name>userFilesRoot</param-name>
	<param-value>/Volumes/Data/userFiles
	</param-value>
</context-param>

<context-param>
	<param-name>ucscDir</param-name>
	<param-value>/Volumes/Data/userFiles/ucsc
	</param-value>
</context-param>

<context-param>
	<param-name>ucscGeneDir</param-name>
	<param-value>GeneTracks
	</param-value>
</context-param>

<context-param>
	<param-name>dbPropertiesFile</param-name>
	<param-value>Dev.properties
	</param-value>
</context-param>

<context-param>
	<param-name>ensDbPropertiesFile</param-name>
	<param-value>ensembl_local.properties
	</param-value>
</context-param>

<context-param>
	<param-name>perlEnvVar</param-name>
	<param-value>PERL5LIB=/opt/ensembl_ucsc/ensembl/modules,ORACLE_HOME=/usr/local/instantclient_10_2,TNS_ADMIN=/usr/local/instantclient_10_2,DYLD_LIBRARY_PATH=/usr/local/instantclient_10_2,LD_LIBRARY_PATH=/usr/local/instantclient_10_2,PATH=/usr/local/instantclient_10_2</param-value>
</context-param>

<context-param>
	<param-name>adminEmail</param-name>
	<param-value>admin1@domain.com,admin2@domain.com</param-value>
</context-param>

<!-- The rest of these parameters should never change -->

<context-param>
	<param-name>propertiesDir</param-name>
	<param-value>web/common/dbProperties
	</param-value>
</context-param>

<context-param>
	<param-name>bedDir</param-name>
	<param-value>bedFiles
	</param-value>
</context-param>

<context-param>
	<param-name>rFunctionDir</param-name>
	<param-value>R_src
	</param-value>
</context-param>

<context-param>
	<param-name>webDir</param-name>
	<param-value>web
	</param-value>
</context-param>

<context-param>
	<param-name>imagesDir</param-name>
	<param-value>web/images
	</param-value>
</context-param>

<context-param>
	<param-name>accessDir</param-name>
	<param-value>web/access
	</param-value>
</context-param>

<context-param>
	<param-name>aptDir</param-name>
	<param-value>affyPowerTools/bin
	</param-value>
</context-param>

<context-param>
	<param-name>datasetsDir</param-name>
	<param-value>web/datasets
	</param-value>
</context-param>

<context-param>
	<param-name>experimentsDir</param-name>
	<param-value>web/experiments
	</param-value>
</context-param>

<context-param>
	<param-name>geneListsDir</param-name>
	<param-value>web/geneLists
	</param-value>
</context-param>

<context-param>
	<param-name>qtlsDir</param-name>
	<param-value>web/qtls
	</param-value>
</context-param>

<context-param>
	<param-name>exonDir</param-name>
	<param-value>web/exons
	</param-value>
</context-param>

<context-param>
	<param-name>sysBioDir</param-name>
	<param-value>web/sysbio
	</param-value>
</context-param>

<context-param>
	<param-name>commonDir</param-name>
	<param-value>web/common
	</param-value>
</context-param>

<context-param>
	<param-name>adminDir</param-name>
	<param-value>web/admin
	</param-value>
</context-param>

<context-param>
	<param-name>isbraDir</param-name>
	<param-value>web/isbra
	</param-value>
</context-param>

<context-param>
	<param-name>helpDir</param-name>
	<param-value>helpdocs/Content
	</param-value>
</context-param>

<context-param>
        <param-name>javascriptDir</param-name>
        <param-value>javascript
        </param-value>
</context-param>

<context-param>
	<param-name>perlDir</param-name>
	<param-value>perl
	</param-value>
</context-param>

<mime-mapping>
    <extension>webm</extension>
    <mime-type>video/webm</mime-type>
  </mime-mapping>

</web-app>
