tomcat.dir=/usr/share/tomcat
PhenoGen.dir=${tomcat.dir}/webapps/PhenoGen
PhenoGenAdmin.dir=${tomcat.dir}/webapps/PhenoGenAdmin
PhenoGenAdminLibDir=${tomcat.dir}/webapps/PhenoGenAdmin/WEB-INF/lib

build-dir=${PhenoGen.dir}/build
dist-dir=${PhenoGen.dir}/dist
dest-dir=${PhenoGen.dir}/WEB-INF/classes
lib-dir=${PhenoGen.dir}/lib
meta-dir=${PhenoGen.dir}/meta
src-dir=${PhenoGen.dir}/src
web-dir=${PhenoGen.dir}/web
docs-dir=${PhenoGenAdmin.dir}/docs
api-dir=${docs-dir}/api

compiled.servlet=*
url=http://localhost:8080/manager
username=tomcat
password=tomcatPASSWORD
PhenoGen_context_path=PhenoGen
PhenoGenAdmin_context_path=PhenoGenAdmin
manager.path=${tomcat.dir}/work/Catalina/localhost

